<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://c52267c2-0ee0-4-231-b9ee.documents.azure.com:443/" />
    <add key="authKey" value="8cem7pv3FYcoZzUvF8NQbttUuR8P5Q2zcDEO6sau8J1ESNdExXRVEXagrWABT4kA7xhwwo39cPw2CuX9Wa6ADw==" />
    <add key="database" value="FaceGraph" />
    <add key="collection" value="User" />
    <add key="storageConnectionString" value=":DefaultEndpointsProtocol=https;AccountName=facegraphdevtest2;AccountKey=jCyVeSYvNkUYoulHOuQPT8NNeNcXMmos4tGo0hYlvX2X32KDN085eYryUOMVC5Gb1KbReO3M/zADo6o2crIySw==;EndpointSuffix=core.windows.net"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>